body{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	background-color: #FDFDFD;
}

.navbar-default {
  background-color: rgba(156,255, 250, .3);
}
#mainNav{
	padding: 0 1em;
}

header .header-content .header-content-inner p{
	color: #181351;
	font-weight: 400;
}

header{
	background: #95DEDA;
}

header .header-content .header-content-inner h1{
	text-transform: none;
}

header h1 .highlight{
	color: #F05F40;
}

#photo-section.bg-primary{
	background-color: #fff;
}

#photo-section submit{
	margin: 0 auto;
	display: block;
}

#photo-section .story-mode{
	padding: 6em 1em;
}

#photo-section .story-mode h3{
	min-height: 3em;
}

.hamstro-smart{
	background: url("../img/hamstro-smart.png") no-repeat;
	width: 5em;
	height: 5em;
	margin: 0 auto;
	background-size: cover;
}

.hamstro-fun{
	background: url("../img/hamstro-fun.png") no-repeat;
	width: 5em;
	height: 5em;
	background-size: cover;
	margin: 0 auto;
}


.story-mode form{
	margin-top: 3em;
}

.smart-mode{
	color: #333;
}

.smart-mode .btn{
	border: #777 1px solid;
}

.fun-mode{
	background-color: #f05f40;
	color: #fff;
}

.fun-mode .btn{
	border: #A1361F 1px solid;
}

.mission-hamstro{
	background: url("../img/mission-hamstro.png") no-repeat;
	width: 40em;
	height: 30em;
	background-size: cover;
	background-position: -3em;
	margin: 0 auto;
}
.navbar-brand.hamstro{
	background: url("../img/hamstro.png") no-repeat;
	display: block;
	width: 5em;
	height: 5em;
	background-size: cover;
}

.page-quote{
	color: #181351;
}
.container{
	background-color: #FDFDFD;
}
.photo-container{
	border-radius: 10px;
	width: 60em;
	margin: 0 auto;
	background-color: #FFF;
	box-shadow: 0px 1px 4px #F05F40;
	margin-top: 5em;
}
.photo{
	height: 50em;
	background-size: cover;
	background-repeat: no-repeat;
}

.photo-container .title{
	color: #F05F40;
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 1.3em;
	margin-bottom: 1em;
}

.photo-container .photo-header{
	padding: 1em 1.5em;
}

.photo-container .description-container{
	padding: 3em;
}
.photo-container .description{
	font-size: 0.95em;
	line-height: 1.7;
}

.photo-container .profile-credit{
	float: left;
	line-height: 4em;
	font-weight: 700;
	color: #4A90E2;
	font-size: 1em;
}

.photo-container .profile-photo{
	float: left;
	width: 4.5em;
	height: 4.5em;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0 0.5em;
}
.photo-container .profile-photo.APOD{
	background-image: url(../img/nasa-logo.png);
}

.footer{
	padding: 1em 0;
	background-color: #F05F40;
	color: #fff;
}

.footer .row{
	background-color: #F05F40;
}

.footer p{
	font-size: 0.8em;
}